
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">WORLD-OF-SEARCH</a>
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ml-5 mr-3">
            <a class="nav-link" href="movies">MOVIES</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="news">NEWS</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="weather">WEATHER</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="restaurant">RESTAURANT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
